div
{

    color: white;
    background-color: brown;
    padding: 20px;
    margin: 10px;
    border: 5px solid blueviolet;
    /* border-color: solid blueviolet; */
    border-radius: 20px;
    box-shadow: 40px green;

}